@media screen and (max-width: 1060px) {
  .work-container {
    padding: 40px 0;
  }

  .work-ul {
    width: 60%;
    flex-direction: column;
  }

  .portfolio-list {
    margin: 0 0 50px 0;
  }

  .portfolio-link h4 {
    display: flex;
    align-items: baseline;
  }

  .portfolio-link h4 span {
    padding-right: 10px;
  }

  .introduction-text {
    width: 80%;
  }
}