@media screen and (max-width: 580px) {
  header {
    height: 150px;
  }

  .work-ul {
    width: 80%;
  }

  .portfolio-link h4 {
    flex-direction: column;
  }

  .introduction-text {
    width: 90%;
    margin: 20px auto 0;
  }

  .introduction-name h1 {
    font-size: 25px;
  }

  .introduction-name p {
    font-size: 15px;
  }
}