@media screen and (max-width: 768px) {
  .portfolio-link h4 span {
    font-size: 10px;
  }

  .introduction-text {
    margin: 30px auto 0;
  }

  .introduction-name h1 {
    font-size: 27px;
  }

  footer i {
    font-size: 35px;
  }
}